@if (dialogType() === 'cart') {
<h2 mat-dialog-title class="preview__title">Shopping Cart</h2>
<mat-dialog-content class="mat-typography">
  <div class="preview__content">
    <span class="preview__content--titles">&nbsp;</span>
    <span class="preview__content--titles">Product</span>
    <span class="preview__content--titles">Quantity</span>
    <span class="preview__content--titles">Price</span>
    <span class="preview__content--titles">&nbsp;</span>

    @for (item of products(); track $index) {

    <img class="preview__content--item--img" [src]="item.image" alt="Item Img"
      (click)="onNavigate('/product/' + item.id , true)" />

    <span class="preview__content--item--name">{{ item.title}} </span>

    <div class="preview__content--item--quantity-wrapper">
      <!-- <div> -->
      <i (click)="onDecrementQuantity($index)" class="fa-solid fa-circle-minus"></i>
      <span>{{ item.quantity }}</span>
      <i (click)="onIncrementQuantity($index)" class="fa-solid fa-circle-plus"></i>
      <!-- </div> -->
    </div>

    <span class="preview__content--item--price">$ {{ item.price}}</span>

    <i (click)="onRemoveItemFromCart($index)" class="fa-solid fa-trash preview__content--item--delete-btn"></i>

    <div class="preview__content--item--border"></div>
    }

  </div>
</mat-dialog-content>

@if (products()!.length != 0) {
<div class="preview__total-price--container">
  <span>Total Price: </span>
  <span>$ {{ TotalPrice }}</span>
</div>
}

<mat-dialog-actions align="end">
  <button class="preview__button" mat-button mat-dialog-close>Close</button>
  <button [disabled]="products()!.length === 0" class="preview__button" mat-button mat-dialog-close
    (click)="onClearCart()">
    Clear Cart
  </button>
  <button [disabled]="products()!.length === 0" class="preview__button" mat-button cdkFocusInitial disabled="true"
    (click)="onPay()">
    Go To Payment
  </button>
</mat-dialog-actions>
}

@if (dialogType() === 'heart') {
@if(authStore.jwt()) {
<h2 mat-dialog-title class="preview__title">Saved Items</h2>

<mat-dialog-content class="mat-typography">
  <div class="preview__content">
    <span class="preview__content--titles">&nbsp;</span>
    <span class="preview__content--titles">Product</span>
    <span class="preview__content--titles">Category</span>
    <span class="preview__content--titles">Rating</span>
    <span class="preview__content--titles">&nbsp;</span>

    @for (item of products(); track $index) {
    <img class="preview__content--item--img" [src]="item.image" [alt]="item.title"
      (click)="onNavigate('/product/' + item.id , true)" />

    <span class="preview__content--item--name">{{ item.title }}</span>

    <span class="preview__content--item--category">{{ item.category }}</span>

    <!-- <div class="preview__content--item--rating" appReview [stars]="5" [reviewsCount]="400" ></div> -->

    <div class="preview__content--item--rating">

      <!-- This will create an array of lenth of Math.floor of the rate so if 3.9 it will create an array of length 3-->
      @for (star of Array.from({ length: Math.floor(item.rating.rate) }); track $index) {
      <i class="fa-solid fa-star stars-icon shining-star"></i>
      }
      <!-- .299/.71/.75 bcz (3.8 - 3) is returning .7999 instead of 0.8-->
      @if (remainingStar(item.rating.rate) >= .299 && remainingStar(item.rating.rate) <= .71) { <i
        class="fa-solid fa-star-half-stroke shining-star"></i>
        }
        @else if(remainingStar(item.rating.rate) >= .75) {
        <i class="fa-solid fa-star stars-icon shining-star"></i>
        }
    </div>

    <i class="fa-solid fa-heart preview__content--item--delete-btn" (click)="onRemoveSavedItem($index)"></i>

    <div class="preview__content--item--border"></div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="preview__button" mat-button mat-dialog-close cdkFocusInitial>
    Close
  </button>
</mat-dialog-actions>

} @else {
<h2 mat-dialog-title class="preview__title">Kindly, Sign In First</h2>
<mat-dialog-content class="mat-typography">
  <i class="fa-solid fa-circle-exclamation preview__content--warning-icon"></i>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="preview__button" mat-button mat-dialog-close>Close</button>
  <button class="preview__button" (click)="onNavigate()" mat-button cdkFocusInitial>
    Go To Sign In
  </button>
</mat-dialog-actions>
} }