<div class="main-footer">
  <div class="main-footer__item">
    <i class="fa-brands fa-cotton-bureau main-footer__item--icon"></i>
    <h4 class="main-footer__item--title">
      Premium Cotton Quality You Can Feel
    </h4>

    <p class="main-footer__item--subtitle">
      Our products are crafted from 100% pure cotton, ensuring unmatched
      softness, durability, and breathability. Feel the difference that
      high-quality materials make.
    </p>
  </div>

  <div class="main-footer__item">
    <i class="fa-solid fa-hand-holding-dollar main-footer__item--icon"></i>
    <h4 class="main-footer__item--title">
      Unbeatable Prices, Incredible Value
    </h4>
    <p class="main-footer__item--subtitle">
      Get premium quality without the premium price. Our competitive pricing
      makes luxury affordable for everyone because you deserve the best without
      overpaying.
    </p>
  </div>

  <div class="main-footer__item">
    <i class="fa-solid fa-truck main-footer__item--icon"></i>
    <h4 class="main-footer__item--title">Secure & Fast Doorstep Delivery</h4>
    <p class="main-footer__item--subtitle">
      We bring your order straight to your door with fast, reliable, and
      trackable delivery. Enjoy a seamless shopping experience from checkout to
      delivery.
    </p>
  </div>

  <div class="main-footer__item">
    <i class="fa-solid fa-phone main-footer__item--icon"></i>
    <h4 class="main-footer__item--title">Customer Service You Can Rely On</h4>

    <p class="main-footer__item--subtitle">
      We pride ourselves on responsive, caring support. Our team is here to help
      with any questions or issues, making your experience as smooth as
      possible.
    </p>

    <!-- <div class="main-footer__customer-service-item">
        <span class="main-footer__customer-service-icon"
          ><i class="fa-solid fa-location-dot"></i
        ></span>
        <span class="main-footer__customer-service-value">Lebanon</span>
      </div> -->
  </div>
</div>

<div class="copyright-container u-margin-top-medium">
  <p class="copyright-site">Copyright &#xA9; 2024 The Fashion Store</p>
  <nav class="copyright-socials">
   <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
  </nav>
</div>
