@if (product()) {
<figure class="product-frame__figure">
  <img [src]="product().image" [alt]="product().title" class="product-frame__img"
    [ngClass]="{'product-frame__img-active': triggeredCaption()}" />
  <figcaption appReview [stars]="product().rating.rate" [reviewsCount]="product().rating.count"
    class="product-frame__caption" [ngClass]="{'product-frame__caption-active': triggeredCaption()}">
  </figcaption>
</figure>

<div class="product-frame__text-nav-wrapper">
  <div class="product-frame__text">
    <h3 class="product-frame__text-title u-margin-bottom-small">
      {{ product().title }}
    </h3>
    <span>
      {{ product().description}}
    </span>

  </div>
  <a target="_blank" [routerLink]="['/product/' + product().id]" class="product-frame__navigation-link">Check The
    Product!</a>
</div>
}