<a [routerLink]="'/product/' + product().id" target="_blank" class="product-card__wrapper">


  <img [src]="product().image" [alt]="product().title" class="product-card__img" />

  <div class="product-card__ratings" appReview [reviewsCount]="product().rating.count" [stars]="product().rating.rate">
  </div>

  <span class="product-card__caption">{{ product().title }}</span>

  <span class="product-card__price">$ {{ product().price }}</span>
</a>
<nav [appProductNav]="product()" [toggleIcon]="toggleIcon()" class="product-card__nav u-margin-bottom-small"></nav>