//  Primary Colors
$primary-backgound-color: #861b85; // Main magenta-violet primary color
// $primary-on-color: #FFFFFF; // Color for text/icons on primary color
$primary-on-color: #161215;

$secondary-hover-text-lavender: #D9C2DB;
$secondary-hover-text-pastel-pink: #f198d9;
$secondary-hover-text-bright-aqua: #A0F4F1;
$secondary-hover-text-light-goldenrod: #FFE484;
$secondary-hover-text-mint-green: #B3FFB3;

// $selected-color: #f26fcf;
$selected-color: #ffabf3;




$secondary-background-color: #161215; // (Dark Gray)
// $secondary-on-color: #e9e0e4; // (Light Gray)
$secondary-on-color: #161215;

$accent-color: #FF4081; // Bright Pink
$neutral-light: #F5F5F5; // Light Gray
$neutral-dark: #212121; // Dark Gray
$success-color: #4CAF50; // Green
$warning-color: #FFC107; // Yellow
$error-color: #F44336; // Red









// !!!!!!!!!!NEW NOT GOOD COLORS!!!!!!!!!!!
// Secondary Colors
// $secondary-color: #4D1A76; // Dark violet, supporting accent color
// $secondary-on-color: #FFFFFF; // Text/icons on secondary color

// // Background Colors
// $background-color-light: #FFFFFF; // Light theme background
// $background-color-dark: #121212; // Dark theme black background
// $background-on-color-light: #000000; // Text on light background
// $background-on-color-dark: #E0E0E0; // Text on dark background

// // Surface Colors
// $surface-color-light: #FFFFFF; // Light theme surface color for containers
// $surface-color-dark: #1D1D1D; // Dark theme surface color for containers
// $surface-on-color-light: #000000; // Text on light surface
// $surface-on-color-dark: #E0E0E0; // Text on dark surface

// // Error Colors
// $error-color: #B3261E; // Error state color
// $error-on-color: #FFFFFF; // Text on error color
