//  Primary Colors
$primary: #007bff; // Primary color
$primary-dark: #0056b3; // Primary color (dark)
$accent: #118ea1; // Accent color
$secondary-accent: #3f97cd;
$warn: #b73a3a; // Warn color

//shadows
$box-shadow-light: 0 0 3.5rem rgba(140, 152, 164, 0.25);
$box-shadow-strong: 0 0 0.5rem rgba(0, 0, 0, 0.5);

//objects colors
$icon-color: #ff4081; // Bright Pink
$success-color: #4caf50; // Green
$error-color: #b84f4f; // Red
$currency-color: goldenrod;

// Background Colors
$background: #f8f9fa; // Background color
$divider: #ced4da; // Divider color

// Text Colors
$text-default: #212529; // Default text color
$text-primary: #343a40; // Dark Gray
$text-secondary: #f8f9fa; // Light Gray
$text-soft-cyan: #a0d8e6; // Soft Cyan
$text-black: #161215;

// Navigation colors
$link-color: #006ce4;
