.section-introduction {

  width: 100vw;
  height: 100vh;
  position: relative;
  // display: grid;
  // grid-template-rows: repeat(2, 50%);
  // grid-template-columns: repeat(2, 50%);
}

.introduction {
  &__img {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    position: absolute;
    background-color: transparent;
    mix-blend-mode: multiply;
    // z-index: 3;
  
    &-1 {
      left: 10%;
      top: 20%;
    }
    &-2 {
      left: 20%;
      top: 30%;
    }
    &-3 {
      left: 30%;
      top: 40%;
    }
    &-4 {
      left: 40%;
      top: 50%;
    }
  }

  &__text {
    position: absolute;
    left: 50%;
    top: 30%;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--title{
      font-size: 3rem;
      font-weight: normal;
    }

    &--subtitle {
      font-size: 2rem;
      font-weight: 100;
    }
  }

  &__nav {
    display: flex;
    gap: 2rem;
  }

}


.section-weather {
  position: relative;

  // margin-top: 10rem;
  // background-color: $surface-on-color-dark;
}

.weather {
  // &__text {
  // }
  &__icon {
    &--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      padding-top: 2rem;
    }

    &--svg {
      &-sunny {
        width: 10rem;
        height: 10rem;
        fill: gold;
        animation: shine 2s infinite ease-in-out;
      }
      &-drizzle {
        width: 10rem;
        height: 10rem;
        fill: #355279;
        animation: shine 2s infinite ease-in-out;
      }
      &-thunder {
        width: 10rem;
        height: 10rem;
        fill: #6487b5;
        animation: shine 2s infinite ease-in-out;
      }
    }
  }

  &__products{
    &--container {
        width: 50vw;
        margin: 5rem auto;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
  }
}

.section-advised-products {
  position: relative;
}

.product-frames__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100vh;
  align-items: center;
  justify-content: center;




}


.section-categories {

}

