.log {
  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    @include respond(mobile) {
      flex-direction: column;
      height: 70vh;
      padding-top: 7vh;
    }
  }

  &__title {
    font-size: 2rem;
    word-spacing: 0.5rem;
    font-weight: 500;
  }

  &__loading-spinner {
    @include absCenter;
    position: absolute !important;
  }

  &__form {
    &__container {
      position: relative;
      overflow: hidden;
      margin-right: -3rem; // to counter the form padding and to have equal gaps on the log container

      @include respond(mobile) {
        margin-right: 0;
      }

      &--background {
        width: 41.5rem;
        height: 100vh;
      }
    }

    width: 27.5rem !important;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    padding: 4rem;
    box-shadow: $box-shadow-light;
    // flex: 0 0 20%;
    @include absCenter;

    @include respond(mobile) {
      width: 70vw !important;
    }

    &--field {
      height: 6.5rem !important;

      i {
        cursor: pointer;
        font-size: 2rem;
        margin-right: 1rem;
      }

      @include respond(mobile) {
        height: 7.5rem !important;
      }
    }
    &--input {
      font-size: 1.6rem !important;

      @include respond(mobile) {
        font-size: 2rem !important;
      }
    }

    &--label {
      font-size: 1.5rem !important;

      @include respond(mobile) {
        font-size: 2rem !important;
      }
    }

    &--error {
      font-size: 1.2rem !important;
      line-height: 1.5rem !important;
      margin-left: -1.5rem;

      @include respond(mobile) {
        font-size: 1.5rem !important;
      }
    }

    &--alternative-text {
      text-align: center;
      font-size: 1.6rem;

      &--container {
        display: flex;
        align-items: center;

        hr {
          width: 100%;
          margin-top: 0.25rem;
        }

        span {
          font-size: 1.5rem;
          text-wrap: nowrap;
          margin: 0 1rem;
        }
      }
    }

    &--text {
      font-size: 1.2rem;
      text-align: center;

      a {
        text-decoration: none;
        color: $link-color;
      }
    }

    &--reset-link {
      color: $link-color;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
      padding: 1rem 0;
      margin: -1rem 0;
      border-radius: 0.5rem;

      &:hover {
        box-shadow: inset 0 0 3.5rem rgba($text-soft-cyan, 0.4);
      }
    }
  }

  &__links {
    &--nav {
      display: flex;
      justify-content: center;
      gap: 3rem;
      height: 100%;

      span {
        cursor: pointer;
        display: flex;
        color: black;
        padding: 2rem;
        box-sizing: border-box;
        border: 1px solid $divider;

        svg {
          width: 2.5rem;
          height: 2.5rem;
        }

        &:last-child {
          fill: #4267b2;
        }

        &:hover {
          box-shadow: $box-shadow-light inset;
        }
      }
    }
  }

  &__divider {
    border: 1px dotted $divider;
    height: 40%;

    @include respond(mobile) {
      display: none;
    }
  }

  &__phrase {
    flex: 0 0 20%;

    @include respond(mobile) {
      display: none;
    }

    i {
      color: $primary;
      width: 100%;
      text-align: center;
      margin-bottom: 4rem;
      font-size: 8rem;
      font-weight: 600;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
      text-align: justify;
    }
  }

  &__button {
    border-radius: 0.5rem !important;
    font-size: 2rem !important;
    padding: 2rem !important;
    font-weight: normal !important;
    width: 100%;
  }
}
