.section-product-info {
  margin-top: 5rem;
  min-height: calc(100vh - 10.2rem);
  position: relative;

  @include respond(mobile) {
    margin-top: 0;
    min-height: calc(100vh - 5.2rem);
  }
}

.section-related-products {
  position: relative;
  padding: 5rem 0 20rem 0;

  @include respond(mobile) {
    padding: 5rem 0 10rem 0;
  }
}
