<header [appHeader]="false" class="main-header"></header>

@if (productStore.loading()) {
<mat-spinner class="product__spinner"></mat-spinner>
} @else {
@if (product()){
<section class="section-product-info">

    <h6 class="product__title">{{ product()?.title }}</h6>

    <div class="product__main-content">
        <img class="product__main-content--img" [src]="product()!.image" alt="product-img">

        <div class="product__main-content--list-buttons-wrapper">

            <ul class="product__main-content--list">
                <li class="product__main-content--list--item">
                    <span class="product__main-content--list--item-title">ID</span>
                    <span class="product__main-content--list--item-value">{{ product()?.id }}</span>
                </li>
                <li class="product__main-content--list--item">
                    <span class="product__main-content--list--item-title">Category</span>
                    <span class="product__main-content--list--item-value">{{ product()?.category }}</span>
                </li>
                <li class="product__main-content--list--item">
                    <span class="product__main-content--list--item-title">Price</span>
                    <span class="product__main-content--list--item-value currency">$ {{ product()?.price }}</span>
                </li>
            </ul>

            <nav class="product__main-content--navigation">
                <div class="product__main-content--navigation--quantity">
                    <i (click)="onDecrementQuantity()" class="fa-solid fa-circle-minus"></i>
                    <span>{{ product()!.quantity === undefined ? 1 : product()!.quantity }}</span>
                    <i (click)="onIncrementQuantity()" class="fa-solid fa-circle-plus"></i>
                </div>

                <div class="product__main-content--navigation--buttons-container">
                    <button mat-flat-button (click)="onAlterCart()"
                        class="product__main-content--navigation--button-cart"
                        [class.product__main-content--navigation--button-added]="isItemAdded()">
                        {{ isItemAdded() ? 'Remove From Cart' : 'Add To Cart'}}
                    </button>
                    <button mat-flat-button (click)="onAlterSavedItems()"
                        [class.product__main-content--navigation--button-saved]="isItemSaved()"
                        class="product__main-content--navigation--button-heart">
                        {{ isItemSaved() ? 'Unsave' : 'Save'}}
                    </button>
                </div>
            </nav>

        </div>

        <div class="product__rating" appReview [reviewsCount]="product()!.rating.count"
            [stars]="product()!.rating.rate">
        </div>

    </div>


    <p class="product__description">{{ product()!.description }}</p>


</section>

<section class="section-related-products">

    <h6 class="product__related--title">Click on the products that may interest you</h6>
    <div (mouseenter)="onCancelScrolling()" (mouseleave)="onEnableScrolling()">
        <!-- Used the ngFor because the new @for syntax caused a problem with the animation transitions -->
        <a *ngFor="let product of displayedProducts(); let i=index" [routerLink]="['/product/' + product.id]"
            target="_blank" routerLinkActive="router-link-active"
            class="product__related--item product__related--item-{{i}}">
            <span class="product__related--item--price">${{ product.price }}</span>
            <img [src]="product.img" alt="related product img" class="product__related--item--img">
        </a>
    </div>
</section>
}
<!-- This will trigger if the user tries to get a product through the URL and it's not existent -->
@else {
<h1 class="product__not-found">Page Not Found</h1>
}
}