.btn-nav {
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    background-color: $primary;
    color: $primary-on-color;
    border-radius: .5rem;
    cursor: pointer;
}