.categories {
  &__menu {
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    
    @include respond(mobile) {
      width: 95vw;
      gap: 1rem;
    }
  }

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: calc(25% - 3rem);
    text-align: center;
    height: 30rem;
    gap: 2rem;
    background-color: $primary;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s;

    @include respond(mobile) {
      flex: calc(25% - .75rem);
    }

    &--icon {
      fill: white;
      color: $text-secondary;
      font-size: 5rem;
    }

    &--name {
      font-size: 2rem;
      text-transform: uppercase;
      color: $text-soft-cyan;
      @include respond(mobile) {
        // word-break: break-all;
        font-size: 1.7rem;
        font-weight: 500;
        // word
      }
    }

    &:hover {
      transform: scaleY(1.1);
      transform: translateY(-1rem);
    }
  }
}
