.preview {
  max-width: fit-content !important;

  mat-dialog-content {
    @include respond(mobile) {
      padding: 0 4vw !important;
    }
  }

  &__title {
    font-size: 3rem !important;
    font-weight: 500 !important;
  }

  &__content {
    display: grid;
    grid-template-columns: 10rem 20rem 12rem 5rem 4rem;
    align-items: center;

    row-gap: 1rem;
    column-gap: 4rem;

    @include respond(mobile) {
      grid-template-columns: 20vw 40vw 20vw 15vw 10vw;
      column-gap: 0rem;
      padding: 0rem !important;
      row-gap: 0.5rem;
    }

    &--titles {
      padding: 1rem 0;
      font-size: 2rem;
    }

    &--item {
      &--img {
        width: 100%;
        height: 8rem;
        object-fit: fill;
        cursor: pointer;
        background-color: transparent;
        mix-blend-mode: multiply;
        // transform: scale(0.8);
        // OR
        // object-fit: fill;
        // transform: scale(0.8);
        @include respond(mobile) {
          height: 7rem;
          // margin-top: -1rem;
          padding: 1rem 1rem 1rem 1rem;
        }
      }

      &--name {
        font-size: 1.5rem;
        padding: 1rem 0;
        font-weight: 500;
        cursor: pointer;
        // To not let the name to increase the grid row height
        overflow-y: scroll;
        display: -webkit-box; /* Enable multi-line truncation */
        line-clamp: 2;
        -webkit-line-clamp: 2; /* Number of lines to show */
        -webkit-box-orient: vertical;
      }

      &--quantity {
        &-field {
          width: 100%;
          font-size: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          div {
            display: flex;
            gap: 1rem;
          }

          i {
            cursor: pointer;
            color: $primary;
          }
        }
      }

      &--price {
        color: $currency-color;
        font-size: 1.5rem;
        font-weight: 500;
        text-wrap: nowrap;
      }

      &--rating {
        font-size: 1rem;
        text-wrap: nowrap;
      }

      &--delete-btn {
        font-size: 3rem;
        cursor: pointer;
        justify-self: end;
        color: $warn-2;
        transition: all 1s;
        &:hover {
          transform: scale(0.9);
        }

        &:active {
          transform: scale(0.1);
        }
      }
      &--border {
        grid-column: 1 / -1;
        border-bottom: 2px dashed $divider;

        &:last-of-type {
          display: none;
        }
      }
    }
    &--warning-icon {
      font-size: 5rem;
      width: 100%;
      text-align: center;
      color: $error-color;
    }
  }

  &__button {
    font-size: 2rem !important;
  }

  &__total-price {
    &--container {
      border-top: 2px dashed $divider;
      box-sizing: border-box;
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 500;
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      padding-top: 1rem;
    }
  }
}
