.stars__rating--container {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.shining-star {
  color: $currency-color;
  font-size: 1.3em; // em to make it inherit its parent font-size since its a reusable component
}

.stars-count {
  font-size: 1.3em;
  font-weight: 500;
}

.rating-count {
  display: block;
  text-align: center;
  font-size: 1em;
  color: inherit;
  // font-weight: 500;
}
