.shining-star {
    color: goldenrod;
    font-size: 1.3rem;
}

.stars-count {
    font-size: 1.3rem;
    font-weight: 500;
}

.reviews-count {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}