.main-header {
  display: flex;
  justify-content: space-between;
  background-color: $background;
  position: sticky;
  top: 0;

  width: 100vw;
  z-index: 10;

  @include respond(mobile) {
    // height: 6rem;
    // top: auto;
    // position: relative;
    // transform: translateY(-130vh);
    // background-color: white;
    // border-bottom: 1px $divider solid;
    display: none;
  }

  &__profile {
    display: flex;
    align-items: center;
    padding: 0rem 4rem;
    cursor: pointer;
    &--icon {
      fill: $primary-dark;
      width: 4rem;
      height: 4rem;
    }

    &:hover .main-header__nav {
      visibility: visible;
      transform: scale(1);
    }

    @include respond(mobile) {
      display: none;
      // jus
    }
  }

  &__nav {
    list-style-type: none;
    position: absolute;
    background-color: $divider;
    color: $text-secondary;
    padding: 1rem 2rem;
    visibility: hidden;
    transform: scale(0.8);
    top: 100%;
    transition: transform 0.1s ease-in-out;

    &--item {
      font-size: 1.5rem;
      padding: 1rem 0;
      display: flex;
      gap: 2rem;
      align-items: center;

      &-active {
        color: $text-default;
      }

      &-account-name {
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
        color: $primary-dark;
        cursor: default;
        width: min-content;
        text-wrap: wrap;
        margin: 0 auto;
        display: block;

        span {
        }
      }

      i {
        font-size: 2rem;
      }

      &:hover {
        color: $text-default;
      }
    }
  }

  &__menu {
    padding: 1rem 4rem;
    gap: 2rem;
    display: flex;
    align-items: center;

    &--item {
      position: relative;

      svg {
        fill: $primary-dark;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: all 0.5s;

        stroke: transparent;
        stroke-width: 1.5rem;
        &:hover {
          stroke: white;
          transform: scale(1.2);
        }
      }

      span {
        z-index: 3; // to stay above the svg
        position: absolute;
        top: -0.5rem;
        right: -1rem;
        text-align: center;
        background-color: $icon-color;
        font-size: 1.5rem;
        color: white;
        border-radius: 50%;
        padding: 0.2rem 0.5rem;
      }
    }

    @include respond(mobile) {
      display: none;
    }
  }

  &__search {
    align-self: center;
    color: $text-black;
    font-size: 1.5rem;
    letter-spacing: 0.3em;
    width: 50rem;
    padding: 0.7rem 2rem;
    outline: none;
    border: none;
    background-color: $divider;
    border-radius: 10rem;
    text-align: center;

    &::placeholder {
      color: $text-black;
      opacity: 0.8;
    }

    @include respond(mobile) {
      width: auto;
    }
  }
}
