<figure class="product__frame--figure">
    <img
      src="https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg"
      alt="Person on a tour"
      class="product__frame--img"
      [ngClass]="{'product__frame--img-active': triggeredCaption}"
    />
    <figcaption appReview [stars]="4.5" [reviewsCount]="200"  class="product__frame--caption" [ngClass]="{'product__frame--caption-active': triggeredCaption}">
      
      <!-- <span class="product__frame--caption-stars"> 4.5 ★★★★★ </span>
      <span class="product__frame--caption-review-count">
        200+ reviews
      </span> -->
    </figcaption>
  </figure>
  <div class="product__frame--text">
    <h3 class="product__frame--text-title u-margin-bottom-small">
      I had the best week ever with my family
    </h3>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ex sit
      quasi unde dolore quos temporibus provident aperiam inventore sint
      dicta nesciunt quo, accusantium repudiandae fuga, commodi, magni et.
      Aliquid..

      <!-- <nav [appProductNav]="'Frame-' + Id()" class="product-card__nav"> -->
 
      <!-- </nav> -->
    </div>
  </div>