<figure class="product__frame--figure">
    <img
      src="https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg"
      alt="Person on a tour"
      class="product__frame--img"
    />
    <figcaption class="product__frame--caption">
      <span class="product__frame--caption-stars"> 4.5 ★★★★★ </span>
      <span class="product__frame--caption-review-count">
        200+ reviews
      </span>
    </figcaption>
  </figure>
  <div class="product__frame--text">
    <h3 class="heading-tertiary u-margin-top-small u-margin-bottom-small">
      I had the best week ever with my family
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ex sit
      quasi unde dolore quos temporibus provident aperiam inventore sint
      dicta nesciunt quo, accusantium repudiandae fuga, commodi, magni et.
      Aliquid..
    </p>
  </div>