@keyframes shine {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
  }
}
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
}
@media (max-width: 28.125em) {
  html {
    font-size: 45%;
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}
body ::selection {
  background-color: #007BFF;
  color: white;
}

.main-title {
  font-size: 2.5rem;
  color: #118ea1;
  font-style: italic;
  font-weight: 700;
  word-spacing: 0.5rem;
  text-align: center;
}
@media (max-width: 28.125em) {
  .main-title {
    font-size: 2rem;
    text-align: center;
    padding: 0 3rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-medium {
  margin-top: 5rem;
}

.u-margin-top-big {
  margin-top: 10rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
  pointer-events: none;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-nav {
  outline: none;
  border: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  background-color: #007BFF;
  color: #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
}

.categories__menu {
  display: flex;
  justify-content: center;
  gap: 4rem;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media (max-width: 28.125em) {
  .categories__menu {
    width: 95vw;
    gap: 1rem;
  }
}
.categories__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: calc(25% - 3rem);
  text-align: center;
  height: 30rem;
  gap: 2rem;
  background-color: #007BFF;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
@media (max-width: 28.125em) {
  .categories__item {
    flex: calc(25% - 0.75rem);
  }
}
.categories__item--icon {
  fill: white;
  color: #F8F9FA;
  font-size: 5rem;
}
.categories__item--name {
  font-size: 2rem;
  text-transform: uppercase;
  color: #A0D8E6;
}
@media (max-width: 28.125em) {
  .categories__item--name {
    font-size: 1.7rem;
    font-weight: 500;
  }
}
.categories__item:hover {
  transform: scaleY(1.1);
  transform: translateY(-1rem);
}
.categories__search--container {
  display: none;
  margin-top: 2rem;
}
@media (max-width: 28.125em) {
  .categories__search--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.categories__search--input {
  font-size: 2rem !important;
}
.categories__search--list {
  list-style: none;
}
.mobile-navigation {
  display: none;
}
@media (max-width: 28.125em) {
  .mobile-navigation {
    display: block;
  }
}
.mobile-navigation__checkbox {
  display: none;
}
.mobile-navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.mobile-navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  background-image: radial-gradient(#007BFF, #0056b3);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.mobile-navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  opacity: 0;
  width: 0;
  transform: translateX(-20rem);
}
.mobile-navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.mobile-navigation__item {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 300;
  padding: 1.5rem 0rem;
  color: white;
  text-transform: uppercase;
}
.mobile-navigation__item span {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}
.mobile-navigation__checkbox:checked ~ .mobile-navigation__background {
  transform: scale(80);
}
.mobile-navigation__checkbox:checked ~ .mobile-navigation__nav {
  opacity: 1;
  width: 100%;
  transform: translateX(0rem);
}
.mobile-navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.mobile-navigation__icon, .mobile-navigation__icon::before, .mobile-navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #343A40;
  display: inline-block;
}
.mobile-navigation__icon::before, .mobile-navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.mobile-navigation__icon::before {
  top: -0.8rem;
}
.mobile-navigation__icon::after {
  top: 0.8rem;
}
.mobile-navigation__button:hover .mobile-navigation__icon::before {
  top: -1rem;
}
.mobile-navigation__button:hover .mobile-navigation__icon::after {
  top: 1rem;
}
.mobile-navigation__checkbox:checked + .mobile-navigation__button .mobile-navigation__icon {
  background-color: transparent;
}
.mobile-navigation__checkbox:checked + .mobile-navigation__button .mobile-navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.mobile-navigation__checkbox:checked + .mobile-navigation__button .mobile-navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.disable-display {
  display: none;
  visibility: hidden;
}

.preview {
  max-width: fit-content !important;
}
@media (max-width: 28.125em) {
  .preview mat-dialog-content {
    padding: 0 4vw !important;
  }
}
.preview__title {
  font-size: 3rem !important;
  font-weight: 500 !important;
}
.preview__content {
  display: grid;
  grid-template-columns: 10rem 20rem 12rem 4rem;
  align-items: center;
  row-gap: 1rem;
  column-gap: 4rem;
}
@media (max-width: 28.125em) {
  .preview__content {
    grid-template-columns: 20vw 40vw 20vw 10vw;
    column-gap: 0rem;
    padding: 0rem !important;
    row-gap: 0.5rem;
  }
}
.preview__content--titles {
  padding-top: 1rem;
  font-size: 2rem;
}
.preview__content--item--img {
  width: 100%;
  height: 8rem;
  object-fit: fill;
  margin-top: -3rem;
}
@media (max-width: 28.125em) {
  .preview__content--item--img {
    height: 7rem;
    padding: 1rem 1rem 1rem 1rem;
  }
}
.preview__content--item--name {
  font-size: 1.5rem;
  font-weight: 500;
}
.preview__content--item--quantity-field {
  width: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview__content--item--quantity-field div {
  display: flex;
  gap: 1rem;
}
.preview__content--item--quantity-field i {
  cursor: pointer;
  color: #007BFF;
}
.preview__content--item--delete-btn {
  font-size: 3rem;
  cursor: pointer;
  justify-self: end;
  color: #b73a3a;
  transition: all 1s;
}
.preview__content--item--delete-btn:hover {
  transform: scale(0.9);
}
.preview__content--item--delete-btn:active {
  transform: scale(0.1);
}
.preview__content--item--border {
  grid-column: 1/-1; /* Span across all columns */
  border-bottom: 2px dashed #CED4DA; /* Adjust color and thickness */
}
.preview__button {
  font-size: 2rem !important;
}

.product-cards__container {
  padding: 5rem 0 0 0;
  display: flex;
  gap: 5rem;
  list-style-type: none;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.product-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border: 5px solid #CED4DA;
  border-radius: 3rem;
  transition: all 0.4s;
  padding: 2rem;
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.25);
}
.product-card:first-child {
  margin-left: 5rem;
}
.product-card:last-child {
  margin-right: 5rem;
}
@media (min-width: 37.5em) {
  .product-card:hover {
    box-shadow: 0 0 35px rgba(140, 152, 164, 0.75);
    transform: translateY(-1rem);
  }
}
.product-card__img {
  height: 20rem;
  object-fit: contain;
  border-radius: 3rem;
}
@media (max-width: 28.125em) {
  .product-card__img {
    height: 15rem;
  }
}
.product-card__caption {
  font-size: 1.7rem;
  text-align: center;
}
.product-card__nav {
  width: 100%;
  margin-left: 2rem;
  box-sizing: border-box;
  padding: 1rem 4rem;
  padding-left: 2rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__nav--item {
  fill: #3f97cd;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.5s;
}
.product-card__nav--item-active-heart {
  fill: red;
}
.product-card__nav--item-active-cart {
  fill: #4CAF50;
}
@media (min-width: 37.5em) {
  .product-card__nav--item:hover {
    transform: scale(1.1);
  }
  .product-card__nav--item-heart:active {
    fill: red;
    transition: all 0.1s;
    transform: scale(0.8);
  }
  .product-card__nav--item-cart:active {
    transition: all 0.1s;
    transform: scale(0.8);
    fill: #4CAF50;
  }
}

.product-frames__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.product__frame {
  cursor: pointer;
  width: 50%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 9rem;
  font-size: 2rem;
  transform: skewX(-12deg);
}
@media (max-width: 28.125em) {
  .product__frame {
    transform: skewX(0);
    padding: 3rem 6rem;
    font-size: 1.7rem;
  }
}
.product__frame--figure {
  width: 15rem;
  height: 15rem;
  float: left;
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
@media (max-width: 28.125em) {
  .product__frame--figure {
    transform: skewX(0);
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
  }
}
.product__frame--img {
  height: 100%;
  transform: translateX(-4rem) scale(1.1);
  backface-visibility: hidden;
  transition: all 0.8s;
  object-fit: contain;
}
@media (max-width: 28.125em) {
  .product__frame--img-active {
    transform: translateX(-4rem) scale(0.9);
    filter: blur(3px) brightness(80%);
  }
}
.product__frame--text {
  transform: skewX(12deg);
}
.product__frame--text-title {
  margin-top: 1.5rem;
}
@media (max-width: 28.125em) {
  .product__frame--text {
    transform: skewX(0);
  }
}
.product__frame--caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}
.product__frame--caption-stars {
  color: gold;
  fill: gold;
}
.product__frame--caption-review-count {
  color: white;
}
@media (max-width: 28.125em) {
  .product__frame--caption-active {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 37.5em) {
  .product__frame:hover .product__frame--caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 37.5em) {
  .product__frame:hover .product__frame--img {
    transform: translateX(-4rem) scale(0.9);
    filter: blur(3px) brightness(80%);
  }
}
.shining-star {
  color: goldenrod;
  font-size: 1.3rem;
}

.stars-count {
  font-size: 1.3rem;
  font-weight: 500;
}

.reviews-count {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.main-footer {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}
.main-footer-container {
  background-color: #007BFF;
  color: #A0D8E6;
  padding-top: 3rem;
  padding-bottom: 5rem;
  box-shadow: 0 -35px 35px rgba(140, 152, 164, 0.25);
}
.main-footer > * {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 28.125em) {
  .main-footer__item {
    text-align: center;
  }
}
.main-footer__item--title {
  color: #f8f9fa;
  font-size: 3rem;
}
.main-footer__item--subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(248, 249, 250, 0.7);
  word-spacing: 0.5rem;
}
.main-footer__item--icon {
  color: #f8f9fa;
  font-size: 5rem;
}

.copyright-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: normal;
}
.copyright-socials {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.copyright-socials > * {
  cursor: pointer;
  color: inherit;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #F8F9FA;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 10;
}
@media (max-width: 28.125em) {
  .main-header {
    display: none;
  }
}
.main-header__profile {
  display: flex;
  align-items: center;
  padding: 0rem 4rem;
  cursor: pointer;
}
.main-header__profile--icon {
  fill: #0056b3;
  width: 4rem;
  height: 4rem;
}
.main-header__profile:hover .main-header__menu {
  visibility: visible;
  transform: scale(1);
}
@media (max-width: 28.125em) {
  .main-header__profile {
    display: none;
  }
}
.main-header__menu {
  list-style-type: none;
  position: absolute;
  background-color: #CED4DA;
  color: #F8F9FA;
  padding: 1rem 2rem;
  visibility: hidden;
  transform: scale(0.8);
  top: 100%;
  transition: transform 0.1s ease-in-out;
}
.main-header__menu--item {
  font-size: 1.5rem;
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.main-header__menu--item i {
  font-size: 2rem;
}
.main-header__menu--item:hover {
  color: #212529;
}
.main-header__nav {
  padding: 1rem 4rem;
  gap: 2rem;
  display: flex;
  align-items: center;
}
.main-header__nav--item {
  fill: #0056b3;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.5s;
  stroke: transparent;
  stroke-width: 1.5rem;
}
.main-header__nav--item:hover {
  stroke: white;
  transform: scale(1.2);
}
@media (max-width: 28.125em) {
  .main-header__nav {
    display: none;
  }
}
.main-header__search {
  align-self: center;
  color: #161215;
  font-size: 1.5rem;
  letter-spacing: 0.3em;
  padding: 0.7rem 2rem;
  outline: none;
  border: none;
  background-color: #CED4DA;
  border-radius: 10rem;
  text-align: center;
}
.main-header__search::placeholder {
  color: #161215;
  opacity: 0.8;
}

.section-introduction {
  height: 100vh;
  position: relative;
}
@media (max-width: 28.125em) {
  .section-introduction {
    height: auto;
  }
}

.introduction__img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  position: absolute;
  background-color: transparent;
  mix-blend-mode: multiply;
}
.introduction__img-1 {
  left: 10%;
  top: 20%;
}
.introduction__img-2 {
  left: 20%;
  top: 30%;
}
.introduction__img-3 {
  left: 30%;
  top: 40%;
}
.introduction__img-4 {
  left: 40%;
  top: 50%;
}
@media (max-width: 28.125em) {
  .introduction__img-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 0rem;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10rem;
  }
  .introduction__img-container > * {
    flex: 0 0 calc(50% - 2rem);
    position: relative;
    left: auto;
    top: auto;
    width: 15rem;
    height: 15rem;
  }
}
.introduction__text {
  position: absolute;
  left: 50%;
  top: 30%;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 28.125em) {
  .introduction__text {
    position: relative;
    text-align: center;
    left: auto;
    top: auto;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
}
.introduction__text--title {
  font-size: 3rem;
  font-weight: normal;
}
.introduction__text--subtitle {
  font-size: 2rem;
  font-weight: 100;
}
.introduction__nav {
  display: flex;
  gap: 2rem;
}

.section-weather {
  position: relative;
}

.weather__icon--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
}
.weather__icon--svg-sunny {
  width: 10rem;
  height: 10rem;
  fill: gold;
  animation: shine 2s infinite ease-in-out;
}
.weather__icon--svg-drizzle {
  width: 10rem;
  height: 10rem;
  fill: #355279;
  animation: shine 2s infinite ease-in-out;
}
.weather__icon--svg-thunder {
  width: 10rem;
  height: 10rem;
  fill: #6487b5;
  animation: shine 2s infinite ease-in-out;
}

.section-advised-products {
  position: relative;
}

/*# sourceMappingURL=styles.scss.map */
