@keyframes shine {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
  }
}
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}
body ::selection {
  background-color: #007BFF;
  color: white;
}

.main-title {
  font-size: 2.5rem;
  color: #118ea1;
  font-style: italic;
  font-weight: 700;
  word-spacing: 0.5rem;
  display: flex;
  justify-content: center;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-top-medium {
  margin-top: 5rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-nav {
  outline: none;
  border: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  background-color: #007BFF;
  color: #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
}

.categories__menu {
  display: flex;
  justify-content: center;
  gap: 4rem;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.categories__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 calc(25% - 3rem);
  text-align: center;
  height: 30rem;
  gap: 2rem;
  background-color: #007BFF;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
.categories__item--icon {
  fill: white;
  color: #F8F9FA;
  font-size: 5rem;
}
.categories__item--name {
  font-size: 2rem;
  text-transform: uppercase;
  color: #A0D8E6;
}
.categories__item:hover {
  transform: scaleY(1.1);
  transform: translateY(-1rem);
}

.product-cards__container {
  margin: 0 auto;
  padding: 5rem 0rem;
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  list-style-type: none;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border: 5px solid #CED4DA;
  border-radius: 3rem;
  transition: all 0.4s;
  padding: 2rem;
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.25);
}
.product-card:first-child {
  margin-left: 10rem;
}
.product-card:last-child {
  margin-right: 10rem;
}
.product-card:hover {
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.75);
  transform: translateY(-1rem);
}
.product-card__img {
  height: 20rem;
  object-fit: contain;
  border-radius: 3rem;
}
.product-card__caption {
  font-size: 1.7rem;
  text-align: center;
}
.product-card__nav {
  width: 100%;
  margin-left: 2rem;
  box-sizing: border-box;
  padding: 1rem 4rem;
  padding-left: 2rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__nav--item {
  fill: #3f97cd;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 1s;
}
.product-card__nav--item-active-heart {
  fill: red;
}
.product-card__nav--item-active-cart {
  fill: black;
}
.product-card__nav--item:hover {
  transform: scale(1.1);
}
.product-card__nav--item:active {
  fill: red;
  transform: scale(0.1);
}

.product-frames__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.product__frame {
  width: 50%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 2rem;
  transform: skewX(-12deg);
}
.product__frame--figure {
  width: 15rem;
  height: 15rem;
  float: left;
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.product__frame--img {
  height: 100%;
  transform: translateX(-4rem) scale(1.1);
  backface-visibility: hidden;
  transition: all 0.8s;
  object-fit: contain;
}
.product__frame--text {
  transform: skewX(12deg);
}
.product__frame--caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}
.product__frame--caption-stars {
  color: gold;
  fill: gold;
}
.product__frame--caption-review-count {
  color: white;
}
.product__frame:hover .product__frame--caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.product__frame:hover .product__frame--img {
  transform: translateX(-4rem) scale(0.9);
  filter: blur(3px) brightness(80%);
}
.shining-star {
  color: goldenrod;
  font-size: 1.3rem;
}

.review-count {
  font-size: 1.3rem;
  font-weight: 500;
}

.footer {
  margin-top: 200vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #F8F9FA;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.header__profile {
  display: flex;
  align-items: center;
  padding: 0rem 4rem;
  cursor: pointer;
}
.header__profile--icon {
  fill: #0056b3;
  width: 4rem;
  height: 4rem;
}
.header__profile:hover .header__menu {
  visibility: visible;
  transform: scale(1);
}
.header__menu {
  list-style-type: none;
  position: absolute;
  background-color: #CED4DA;
  color: #F8F9FA;
  padding: 1rem 2rem;
  visibility: hidden;
  transform: scale(0.8);
  top: 100%;
  transition: transform 0.1s ease-in-out;
}
.header__menu--item {
  font-size: 1.5rem;
  padding: 1rem 0;
}
.header__menu--item:hover {
  color: #212529;
}
.header__nav {
  padding: 1rem 4rem;
  gap: 2rem;
  display: flex;
  align-items: center;
}
.header__nav--item {
  fill: #0056b3;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 1s;
  stroke: transparent;
  stroke-width: 1.5rem;
}
.header__nav--item:hover {
  fill: #ffabf3;
  stroke: white;
  transform: scale(1.1);
}
.header__search {
  align-self: center;
  color: #161215;
  font-size: 1.5rem;
  letter-spacing: 0.3em;
  padding: 0.7rem 2rem;
  outline: none;
  border: none;
  background-color: #CED4DA;
  border-radius: 10rem;
  text-align: center;
}
.header__search::placeholder {
  color: #161215;
  opacity: 0.8;
}

.section-introduction {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.introduction__img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  position: absolute;
  background-color: transparent;
  mix-blend-mode: multiply;
}
.introduction__img-1 {
  left: 10%;
  top: 20%;
}
.introduction__img-2 {
  left: 20%;
  top: 30%;
}
.introduction__img-3 {
  left: 30%;
  top: 40%;
}
.introduction__img-4 {
  left: 40%;
  top: 50%;
}
.introduction__text {
  position: absolute;
  left: 50%;
  top: 30%;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.introduction__text--title {
  font-size: 3rem;
  font-weight: normal;
}
.introduction__text--subtitle {
  font-size: 2rem;
  font-weight: 100;
}
.introduction__nav {
  display: flex;
  gap: 2rem;
}

.section-weather {
  position: relative;
}

.weather__icon--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
}
.weather__icon--svg-sunny {
  width: 10rem;
  height: 10rem;
  fill: gold;
  animation: shine 2s infinite ease-in-out;
}
.weather__icon--svg-drizzle {
  width: 10rem;
  height: 10rem;
  fill: #355279;
  animation: shine 2s infinite ease-in-out;
}
.weather__icon--svg-thunder {
  width: 10rem;
  height: 10rem;
  fill: #6487b5;
  animation: shine 2s infinite ease-in-out;
}

.section-advised-products {
  position: relative;
}

/*# sourceMappingURL=styles.scss.map */
