<header [appHeader]="false" class="main-header"></header>

<div class="log__container" id="logContainer">

    <div class="log__form__container">
        <div class="log__form__container--background"></div>

        @if (authStore.loading()) {
        <mat-spinner class="log__loading-spinner"></mat-spinner>
        }
        @else {
        <form class="log__form" (ngSubmit)="onSubmitForm()">

            <h6 class="log__title"> Please enter your new password </h6>

            <mat-form-field class="log__form--field">
                <mat-label class="log__form--label">Enter Your Password</mat-label>
                <input [type]="showPass() === false ? 'password' : 'text' " placeholder="Enter Your Password*"
                    autocomplete="off" [formControl]="passwordFormControl" matInput name="password"
                    class="log__form--input" required>

                <i matSuffix [class.fa-eye]="!showPass()" [class.fa-eye-slash]="showPass()" class="fa-solid"
                    (click)="onTogglePasswordVisibility()"></i>

                @if (passwordFormControl.hasError('required')) {
                <mat-error class="log__form--error">Please enter a password</mat-error>
                } @else if (passwordFormControl.hasError('hasDesiredLength')) {
                <mat-error class="log__form--error">It should be between 8 and 40 characters long</mat-error>
                } @else if (passwordFormControl.hasError('noSpecialCharacters')) {
                <mat-error class="log__form--error">The password can have only these types of special characters
                    !&#64;#$%^*-_.</mat-error>
                } @else if (passwordFormControl.hasError('consecutiveHyphens')) {
                <mat-error class="log__form--error">The email can't have consecutive hyphens as such -- .</mat-error>
                } @else if (passwordFormControl.hasError('containsMixedCharacters')) {
                <mat-error class="log__form--error">It should at least have 1 small letter, 1 capital letter, 1 special
                    character, and 1 number</mat-error>
                } @else if (passwordFormControl.hasError('authError')) {
                <mat-error class="log__form--error">{{ authStore.authError() }}</mat-error>
                }
            </mat-form-field>


            <mat-form-field class="log__form--field">
                <mat-label class="log__form--label">Confirm Your Password</mat-label>
                <input [type]="showPass() === false ? 'password' : 'text' " placeholder="Confirm Your Password*"
                    [formControl]="passwordConfirmationFormControl" matInput name="Confirmedpassword" autocomplete="off"
                    class="log__form--input" required>

                <i matSuffix [class.fa-eye]="!showPass()" [class.fa-eye-slash]="showPass()" class="fa-solid"
                    (click)="onTogglePasswordVisibility()"></i>

                @if (passwordConfirmationFormControl.hasError('required')) {
                <mat-error class="log__form--error">Please confirm your password</mat-error>
                } @else if (passwordConfirmationFormControl.hasError('passwordMismatch')) {
                <mat-error class="log__form--error">Please match the password</mat-error>
                }
            </mat-form-field>


            <!-- We aren't disabling the btn when there is an authError because its either a request time out
                 error or a jwt expired one, and in either ways, we want the user to submit the btn again, to
                 either try again the connection, or to open the preview and navigate to sign in due to an
                 expired jwt -->
            <button [disabled]="(passwordConfirmationFormControl.invalid) 
            || ( (passwordFormControl.invalid && authStore.authError() === null) )" mat-flat-button type="submit"
                class="log__button"> Change Password
            </button>

            <p class="log__form--text">By signing in or creating an account, you agree with our
                <a href="#">
                    Terms & Conditions
                </a>
                and
                <a href="#">
                    Privacy Statement
                </a>
            </p>
            <p class="log__form--text">All rights reserved.</p>

        </form>
        }

    </div>

    <div class="log__divider"></div>

    <div class="log__phrase">
        <i class="fa-brands fa-cotton-bureau main-footer__item--icon"></i>
        <p>Join our community and experience premium quality with 100% pure cotton products at unbeatable prices! Sign
            up today
            to enjoy luxury that’s accessible, with secure, fast delivery right to your doorstep. Plus, our dedicated
            customer
            service team is always here to assist you, ensuring your shopping experience is as smooth as possible.
        </p>
    </div>
</div>